{% extends 'base.html' %}
{% load static %}
    {% block title_name %}
    Создание продукта
    {% endblock %}

{% block content %}
<main>
  <section class="hero">
    <h1>Добро пожаловать!</h1>
    <p>Лучшие предложения для вашего дома, семьи и уюта.</p>
  </section>

  <section class="about">
    <h2>О нас</h2>
    <p>
      Мы — команда профессионалов, которая уже более 10 лет помогает клиентам находить качественные и доступные товары. 
      Наш интернет-магазин предлагает широкий ассортимент продукции от проверенных производителей. Мы гордимся своей 
      быстрой доставкой, поддержкой 24/7 и индивидуальным подходом к каждому покупателю.
    </p>
  </section>
</main>
{% endblock %}

