

{% extends 'base.html' %}
{% load static %}
    {% block title_name %}
    Регистрация
    {% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    

</head>
<h1>Авторизация</h1>
    <form method="post" enctype="multipart/form-data" class="mb-3">
        {% csrf_token %}
        {{ form.as_div }}
        <input type="submit" value="Зарегестрироваться">

    </form>
        <a href="{% url 'index_render' %}" class="btn btn-secondary">назад</a>



    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}
