{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <header>
    <div class="logo">
      <a href="{% url 'index_render' %}" class="text-decoration-none text-white fw-bold link-light" style="font-size: 24px; letter-spacing: 1px;">
        Велосипедный магазин
      </a>
    </div>
    <nav>
      <ul>
        <li><a href="{% url 'bicycle_list' %}">Велосипеды</a></li>
        <li><a href="{% url 'bicycle_photo_list' %}">Фото велосипедов</a></li>
        <li><a href="{% url 'galery_list' %}">Фото зала</a></li>

        {% if user.is_authenticated %}
          {% if user.is_staff %}
            <li><a href="{% url 'admin:index' %}">Админка</a></li>
          {% endif %}
          <li><a href="{% url 'logout_user' %}">Выход</a></li>
        {% else %}
          <li><a href="{% url 'login_user' %}">Авторизация</a></li>
          <li><a href="{% url 'registration_user' %}">Регистрация</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
</body>
</html>
