{% extends 'base.html' %}
{% load static %}

{% block title_name %}
Фото зала
{% endblock %}

{% block content %}
<h1 class="mb-4">Фото зала</h1>

{% if request.user.is_staff %}
    <a href="{% url 'galery_create' %}" class="btn btn-primary mb-3">Добавить новое фото</a>
{% endif %}

<ul class="list-group">
    {% for product in galery %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <div>
            <a href="{% url 'galery_detail' product.pk %}">
                <img src="{{ product.photo.url }}" alt="Фото" class="img-thumbnail mt-2" style="max-height: 200px;">
            </a>
        </div>

        {% if request.user.is_staff %}
        <div>
            <a href="{% url 'galery_update' product.pk %}" class="btn btn-sm btn-outline-secondary">Редактировать</a>
            <a href="{% url 'galery_delete' product.pk %}" class="btn btn-sm btn-outline-danger">Удалить</a>
        </div>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}
