

{% extends 'base.html' %}
{% load static %}
    {% block title_name %}
    Взаимодействие велосипеды
    {% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    

</head>
<title>{% if form.instance.pk %}Редактировать{% else %}Добавить{% endif %} велосипед</title>
<h1 class="mb-4">{% if form.instance.pk %}Редактировать позицию{% else %}Добавить новую позицию{% endif %}</h1>

    <form method="post" enctype="multipart/form-data" class="mb-3">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-success">Сохранить</button>
        <a href="{% url 'bicycle_list' %}" class="btn btn-secondary">Вернуться</a>
    </form>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}

