{% extends 'base.html' %}
{% load static %}

{% block title_name %}
Велосипеды
{% endblock %}

{% block content %}
<h1 class="mb-4">Велосипеды</h1>

{% if request.user.is_staff %}
    <a href="{% url 'bicycle_create' %}" class="btn btn-primary mb-3">Добавить новую позицию</a>
{% endif %}

<ul class="list-group">
    {% for product in bicycle %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <div>
            <a href="{% url 'bicycle_detail' product.pk %}">{{ product.name }}</a>
            <p>{{ product.brend }}</p>
            <p>{{ product.price }} руб.</p>
        </div>

        {% if request.user.is_staff %}
        <div>
            <a href="{% url 'bicycle_update' product.pk %}" class="btn btn-sm btn-outline-secondary">Редактировать</a>
            <a href="{% url 'bicycle_delete' product.pk %}" class="btn btn-sm btn-outline-danger">Удалить</a>
        </div>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}
