{% extends 'base.html' %}
{% load static %}
    {% block title_name %}
    Изменение фото
    {% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Добавить фото</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body >
    <h1 class="mb-4">Добавить фотографию к велосипеду</h1>

    <form method="post" enctype="multipart/form-data" class="mb-3">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_bicycle" class="form-label">Выберите велосипед</label>
            {{ form.as_p }}
        </div>

        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a href="{% url 'bicycle_photo_list' %}" class="btn btn-secondary">Назад</a>
    </form>
</body>
{% endblock %}
