{% extends 'base.html' %}
{% load static %}
    {% block title_name %}
    Удаление фото
    {% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Подробности картинки</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body class="container mt-4">

    <h1 class="mb-4">Подробности картинки</h1>

    <div class="card">
        <div class="card-body">
            <div>
                <img src="{{ photo_bicycle.photo.url }}" alt="Фото" class="img-thumbnail mt-2" style="max-height: 200px;">
            </div>
            <p class="card-text">Название велосипеда: {{ photo_bicycle.bicycle.name }}</p>
            <p class="card-text">Цена: {{ photo_bicycle.bicycle.price }}</p>
        </div>
    </div>

    <div class="mt-4">
        <a href="{% url 'bicycle_photo_list' %}" class="btn btn-secondary">Вернуться</a>
        <a href="{% url 'bicycle_photo_update' photo_bicycle.pk %}" class="btn btn-outline-primary">Редактировать</a>
        <a href="{% url 'bicycle_photo_delete' photo_bicycle.pk %}" class="btn btn-outline-danger">Удалить</a>
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
{% endblock %}

