{% extends 'base.html' %}
{% load static %}

{% block title_name %}
Удаление фото
{% endblock %}

{% block content %}
<h1 class="mb-4">Подробности картинки</h1>

<div class="card">
    <div class="card-body">
        <div>
            <img src="{{ photo_bicycle.photo.url }}" alt="Фото" class="img-thumbnail mt-2" style="max-height: 200px;">
        </div>
        <p class="card-text">Название велосипеда: {{ photo_bicycle.bicycle.name }}</p>
        <p class="card-text">Цена: {{ photo_bicycle.bicycle.price }}</p>
    </div>
</div>

<div class="mt-4">
    <a href="{% url 'bicycle_photo_list' %}" class="btn btn-secondary">Вернуться</a>

    {% if request.user.is_staff %}
        <a href="{% url 'bicycle_photo_update' photo_bicycle.pk %}" class="btn btn-outline-primary">Редактировать</a>
        <a href="{% url 'bicycle_photo_delete' photo_bicycle.pk %}" class="btn btn-outline-danger">Удалить</a>
    {% endif %}
</div>
{% endblock %}
